@import './variables.scss';

.select {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  &__header {
    height: 52px;
    padding: 16px;
    border: 1px solid $border-color;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    right: 13px;
    top: 18px;
    pointer-events: none;
  }

  &__content {
    background-color: #fff;
    border: 1px solid $border-color;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04), 0px 20px 20px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
    position: absolute;
    top: 52px;
    z-index: 1;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    padding: 12px 0;
  }

  &__option {
    padding: 12px 0 11px 15px;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    line-height: 21px;
    color: #756F86;
    cursor: pointer;

    &:hover {
      background: #EBF4F8;
    }
  }

  &__current {
    font-family: "IBM Plex Sans";
    font-size: 16px;
    line-height: 21px;
    color: #2C2738;
  }

  &__placeholder {
    font-family: "IBM Plex Sans";
    font-size: 16px;
    line-height: 21px;
    color: rgba(#7C9CBF, 0.7);
  }
}

.hidden {
  display: none;
}

